h1 {
    color:black;
    padding-left: 30px;
}
*{
    border:solid
}
.header{
    background-color:white;
    
}
.grid{
    background-color:skyblue;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.menu{
    background-color: rgb(101, 95, 160);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}
.footer{
    display: flex;
    justify-content: flex-end;
    
}
body{
    background-color:white;
}
a:link{
    color: blue;
}
a:visited{
    color:violet;
}